{%extends "base.html" %}

{% block content %}
<div class="anons" data-materialid="1024700833" data-material-dtime="1414996200">
    <h2 class="titleH2"><a href="/tribuna/blogs/england/696019.html">Запущен сайт Зимнего Кубка АДФС</a></h2>
    <p>Сайт не претендует на титул типичного спортивного сайта 2014 года. Скорее он создан по технологии нулевых - все обновления происходят в полуавтоматическом режиме. В случае успеха проект продолжит развитие и будет переписан на фреймворке Django.
<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"});
</script>
    <span class="sp">|</span><a href="/tribuna/blogs/england/696019.html?comments=1">1</a></p>

</div>

<div class="anons" data-materialid="1024700833" data-material-dtime="1414996200">
    <h2 class="titleH2"><a href="/tribuna/blogs/england/696019.html">Заявка команды в зимнем кубке будет ограничена.</a></h2>
    <p>Всего-лишь 15 человек смогут попасть в заявку какой-либо команды зимнего кубка АДФС<span class="sp">|</span><a href="/tribuna/blogs/england/696019.html?comments=1">2</a></p>

</div>

<div class="anons" data-materialid="1024700833" data-material-dtime="1414996200">
    <h2 class="titleH2"><a href="/tribuna/blogs/england/696019.html">Опубликован полный список залов города.</a></h2>
    <p> Успейте забить время!<span class="sp">|</span><a href="/tribuna/blogs/england/696019.html?comments=1">3</a></p>

</div>

{%endblock%}