<head>
<title>Зимний кубок АДФС</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="skin.css">
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

</head>
<body>
<div id = "bar"> 
  <div id = "main"> <img src="pokal.png" id="winter" alt="pokal"></div>
  <div id = "bot">
  <table>
    <tr>
      <td id = "pun"><div id = "pun"><a id = "sss" href="teams.html">Участники</a></div></td>
      <td id = "pun"><div id = "end"></div></td>
      <td id = "pun"><div id = "pun"> <a id = "sss" href="calend.html">Статистика</a></div></td>
      <td id = "pun"><div id = "end"></div></td>
      <td id = "pun"><div id = "pun"> <a id = "sss" href="statistic.html">Статистика</a></div></td>
      <td id = "pun"><div id = "end"></div></td>
      <td id = "pun"><div id = "pun"> <a id = "sss" href="main.html">Новости</a></div></td>
    </tr>
  </table>
  </div>
</div>
<div id="content"> 
         <script type="text/javascript">
            $("#content").load("aspera/list.html");
         </script>        
</div>
<div class="stati" id="stati">
         <script type="text/javascript">
            $("#stati").load("aspera/bombom.html");
         </script>     

</div>
</div>

</body>
